%h1= @user.nickname

%ul
  %li
    = @user.name
    = @user.firstname
  %li= @user.address
  %li= @user.email
  %li= @user.phone

= button_to 'Editer mon profil', edit_user_registration_path, :class => "button_to" 