%h1= @event.name

%ul
  %li= "Organisateur: #{@event.user.nickname}"
  %li= "Le #{@event.date.strftime("%d/%m/%Y")} à #{@event.date.strftime("%H:%M")}"
  %li= "Lieu: #{@event.address}"
  - if @event.theme != nil
    %li= "Theme: #{@event.theme.capitalize}"
  %li= "Places restantes: #{@rest}"
  - if @event.limit_payment != nil
    %li= "Coût de #{'%.2f' % @event.price_per_person}€/pers avant le #{@event.limit_payment.strftime("%d/%m/%Y")} à #{@event.limit_payment.strftime("%H:%M")}"
  - if @event.private_event
    %li= "Soirée privée"

%p= @event.description

- if @resa != nil
  - if @resa.penalty > 0
    %p= "Pénalité de #{@resa.penalty}€"

- if @event.user != current_user
  - if @event.date > DateTime.now
    - if @resa == nil
      - if @remaining != 0
        - # event public
        = form_for @newresa, url: reservations_path(@newresa.id), method: :post do |f|
          = f.hidden_field :user_id, :value => current_user.id
          = f.hidden_field :event_id, :value => @event.id
          = f.label :Nombre_de_personne
          = f.number_field :nb_reservation, :value => 1, min: 1, max: @remaining
          = f.submit "M'inscrire", :class => "button"
    - elsif @resa.participation == true
      - if !@resa.paid
        - if @event.private_event
          - # event privé
          = button_to "Me désinscrire", reservation_path(@resa.id), method: :patch, :class => "button"
        - else
          - # event public
          = button_to "Me désinscrire", reservation_path(@resa.id), method: :delete, :class => "button_to"
    - else
      - # event privé
      = form_for @resa, url: reservation_path(@resa.id), method: :put do |f|
        = f.hidden_field :user_id, :value => current_user.id
        = f.hidden_field :event_id, :value => @event.id
        = f.label :Nombre_de_personne
        = f.number_field :nb_reservation, :value => 1, min: 1, max: @remaining
        = f.submit "M'inscrire", :class => "button_to"
- else
  %ul
    - @reservations.each do |reservation|
      %li
        = "#{reservation.user.nickname}"
        %br
        = "Montant : #{@event.price_per_person * reservation.nb_reservation}€"
        - if reservation.penalty != 0
          = " + #{reservation.penalty}€ = #{@event.price_per_person * reservation.nb_reservation + reservation.penalty}€"
        - if reservation.paid
          = button_to('Payé', payment_path(@event.id, reservation.id), method: :get, :class => 'btn btn-success')
        - else
          = button_to('Non payé', payment_path(@event.id, reservation.id), method: :get, :class => 'btn btn-danger')
