%h1= @event.name

%ul
  %li= "Organisateur: #{@event.user.nickname}"
  %li= "Le #{@event.date.strftime("%d/%m/%Y")} à #{@event.date.strftime("%H:%M")}"
  %li= "Lieu: #{@event.address}"
  - if @event.theme != nil
    %li= "Theme: #{@event.theme.capitalize}"
  %li= "Places restantes: #{@rest}"
  - if @event.limit_payment != nil
    %li= "Paiment de #{'%.2f' % @event.price_per_person}€ avant le #{@event.limit_payment.strftime("%d/%m/%Y")} à #{@event.limit_payment.strftime("%H:%M")}"
  - if @event.private_event
    %li= "Soirée privée"

%p= @event.description

- if @resa.length == 0
  = button_to "M'inscrire", event_path(@event.id), method: :get, notice: "Ta participation est validée pour l'événement #{@event.name}"
- elsif @resa[0].participation == true
  = button_to "Me désinscrire", event_path(@event.id), method: :get, notice: "Ta désinscription à l'événement #{@event.name} a bien été prise en compte"
- else
  = button_to "M'inscrire", event_path(@event.id), method: :get, notice: "Ta participation est validée pour l'événement #{@event.name}"
