%h1= @event.name

%ul
  %li= "Le #{@event.date.strftime("%d/%m/%Y")} à #{@event.date.strftime("%H:%M")}"
  %li= "Lieu: #{@event.address}"
  - if @event.theme != nil
    %li= "Theme: #{@event.theme.capitalize}"
  %li= "Prix: #{'%.2f' % @event.price_per_person} €/pers"
  %li= "Places restantes: #{@rest}"
  - if @event.limit_payment != nil
    %li= ""
